:root{
    --firstColor: #08526d;
    --secondColor: #ec1c23;
}
/* 
body{
    height: 20000px;
} */

/* Start Upper Bar */

.upper-bar{
    background-color: var(--firstColor);
    color: lightgray;
    padding: 15px;
}

.get-quote{
    display: inline-block;
    border: 1px solid var(--secondColor);
    padding: 2px 10px;
    margin-left: 70px;
}

/* End Upper Bar */

/* Start Navbar */

.logo{
    font-size: 40px;
}

.logo span:first-child{
    font-weight: 100;
    color: var(--firstColor);
}

.logo span:last-child{
    color: var(--secondColor);
}

.navbar-nav .nav-link{
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 20px;
    color: var(--firstColor);
}

.navbar-light .navbar-nav .active>.nav-link{
    color: var(--secondColor);
    font-weight: 200;
}

/* End Navbar */

/* Start Slide */

.slider .carousel-inner{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@media (max-width: 768px) {
    .slider .carousel-inner{
        justify-content: center;
    }
}

.slider .carousel-inner .overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.slider .carousel-inner h2{
    position: absolute;
    left: 100px;
    color: #fff;
    font-size: 70px;
    line-height: 1.5;
    max-width: 900px;
    z-index: 3;
}

.slider .carousel-inner h2 span{
    display: inline-block;
    background-color: var(--secondColor);
    padding: 2px 10px;
}

@media (max-width: 768px) {
    .slider .carousel-inner h2{
        left: 15px;
        font-size: 40px;
    }
}

.carousel-item{
    background-size: cover;
    background-position: center;
}

.carousel-1{
    background-image: url("../img/slider01.jpg");
    background-position: center top;
}

.carousel-2{
    background-image: url("../img/slider02.jpg");
}

.carousel-3{
    background-image: url("../img/slider03.jpg");
}

.carousel-indicators li{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #fff;
}

/* End Slide */

/* Start Features */
.features{
    padding: 50px 0;
    text-align: center;
}

.features i{
    background-color: var(--secondColor);
    color: #fff;
    border-radius: 50%;
    padding: 15px;
    margin-bottom: 10px;
}

.features h3{
    color: var(--firstColor);
}

.features p{
    color: #777;
    margin-bottom: 40px;
}
/* End Features */

/* Start Overview */

.overview{
    padding: 100px;
    background-color: #f0f5f7;
}

.overview h2{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
}

.overview p{
    width: 80%;
    margin: 0 auto 15px;
    color: #777;
    line-height: 1.8;
    font-size: 20px;
}

@media (max-width: 768px) {
    .overview h2{
        font-size: 30px;
    }
    .overview p{
        width: 100%;
    }
}

.overview h4{
    font-weight: normal;
    color: #999;
    letter-spacing: 4px;
    margin-bottom: 50px;
}

.overview button{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px;
    background-color: var(--secondColor);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    border: none;
    outline: none;
}

/* End Overview */


/* Start Featured Work */

.featured-work{
    padding: 100px 0;
}

.featured-work h2{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.featured-work p{
    width: 80%;
    margin: 0 auto 15px;
    color: #777;
    line-height: 1.6;
    font-size: 20px;
}

.featured-work .list-unstyled{
    margin: 40px 0;
}

.featured-work .list-unstyled li{
    color: var(--firstColor);
    border: 2px solid var(--firstColor);
    font-size: 20px;
    padding: 10px 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: all 0.5s;
}

.featured-work .list-unstyled .active,
.featured-work .list-unstyled li:hover{
    background-color: var(--secondColor);
    color: #fff;
    border: 2px solid var(--secondColor);
    cursor: pointer;
}

.featured-work .images{
    display: flex;
    flex-wrap: wrap;
}

.featured-work .image{
    padding: 15px;
    border-radius: 15px;
    /* transition: 0.5s; */
}

.featured-work .image img{
    width: 100%;
    border-radius: 15px;

}

/* End Featured Work */

/* Start Latest Posts */

.latest-posts{
    padding: 0 0 100px;
}

.latest-posts h2{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.latest-posts .section-description{
    width: 80%;
    margin: 0 auto 45px;
    color: #777;
    line-height: 1.6;
    font-size: 20px;
}

.latest-posts .card{
    margin-bottom: 30px;
    border: none;
}

.latest-posts .card .card-title{
    font-size: 20px;
    line-height: 1.6;
    color: var(--firstColor);
}

.latest-posts .card .card-text{
    color: #777;
}

.latest-posts .card .card-link{
    color: var(--secondColor);
    font-weight: bold;
}

/* End Latest Posts */

/* Start Testimonials */

.testimonials{
    position: relative;
}

.testimonials .overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.testimonials .carousel{
    position: relative;
}

.testimonials .carousel-item{
    background-size: cover;
    background-position: center;
}

.testimonials .carousel-1{
    background-image: url("../img/slider01.jpg");
    background-position: center top;
}

.testimonials .carousel-2{
    background-image: url("../img/slider02.jpg");
}

.testimonials .carousel-3{
    background-image: url("../img/slider03.jpg");
}

.testimonials .carousel-caption{
    top: 50%;
    transform: translateY(-50%);
}

.testimonials .carousel-caption{
    top: 50%;
    transform: translateY(-50%);
}

.testimonials .carousel-caption img{
    margin-bottom: 20px;
}

.testimonials .carousel-caption h3{
    margin-bottom: 5px;
}

.testimonials .carousel-caption h3 + span{
    display: inline-block;
    font-size: 20px;
    color: #ccc;
    margin-bottom: 30px;
}

.testimonials .controls .carousel-control-next,
.testimonials .controls .carousel-control-prev{
    z-index: 3;
}

.testimonials .carousel-indicators li{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #fff;
}

/* End Testimonials */

/* Start Pricing Table */

.pricing-table{
    padding: 100px 0;
    background-color: #f7f7f7;
}

.pricing-table h2{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.pricing-table .section-description{
    width: 80%;
    margin: 0 auto 85px;
    color: #777;
    line-height: 1.6;
    font-size: 20px;
}

.pricing-table .card{
    padding: 0;
    margin: 0 15px 30px;
    border: 1px solid #08526d3f;
}

.pricing-table .card .card-body{
    padding: 0;
}

.pricing-table .card .card-title{
    font-size: 30px;
    line-height: 1.6;
    color: var(--firstColor);
    margin-top: 40px;
}

.pricing-table .card .card-text{
    font-size: 40px;
    background-color: #f7f7f7;
    color: var(--firstColor);
    margin: 30px 0 10px;
    padding: 10px;
}

.pricing-table .card .card-text span{
    font-size: 16px;
    text-transform: uppercase;
}

.pricing-table .card .list-group-item{
    border: none;
}

.pricing-table .card .card-link{
    display: inline-block;
    background-color: var(--secondColor);
    color: #fff;
    padding: 10px 15px;
    margin: 15px 0 30px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.pricing-table .corporate{
    transform: translateY(-20px);
}

@media (max-width: 991px) {
    .pricing-table .corporate{
        transform: translateY(0);
    }
}

.pricing-table .corporate .card-link{
    background-color: var(--firstColor);
}

.pricing-table .corporate .card-text{
    background-color: var(--secondColor);
    color: #fff;
}

/* End Pricing Table */

/* Start Choose Us */

.choose-us .box img{
    width: 100%;
}

.choose-us .box{
    padding: 0;
}

.choose-us .box:last-child{
    background-color: var(--firstColor);
    color: #fff;
    padding: 70px 40px 30px;
}

.choose-us .box .h1{
    margin-bottom: 40px;
}

.choose-us .box p{
    line-height: 2;
    font-size: 18px;
    margin: 30px 0;
}

.choose-us .read-more{
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--secondColor);
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

/* End Choose Us */

/* Start Statistics */

.stats{
    padding: 100px 0;
}

.stats .stat-box{
    margin-bottom: 40px;
}

.stats i{
    color: var(--firstColor);
}

.stats .stat-num{
    display: block;
    font-size: 50px;
    font-weight: bold;
    color: var(--firstColor);
}

.stats p{
    color: var(--secondColor);
}

/* End Statistics */

/* Start Contact Us */

.contact-us{
    padding: 100px 0;
    background-color: var(--secondColor);
    color: #fff;
    font-size: 28px;
}

.contact-us a{
    display: inline-block;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    padding: 10px 20px;
    border: 2px solid #fff;
}

/* End Contact Us */

/* Start Footer */

.footer{
    padding: 100px 0 0;
}

.footer .site-info .logo{
    display: inline-block;
    margin-bottom: 35px;
}

.footer .site-info p{
    line-height: 1.8;
    color: #777;
}

.footer .site-info .more-link{
    color: var(--firstColor);
    font-size: 18px;
    font-weight: 500;
}

.footer .site-info .more-link::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: "\f138";
    display: inline-block;
    margin-right: 10px;
}

.footer .helpful-links h2,
.footer .contact h2{
    font-size: 22px;
    color: var(--firstColor);
    margin-bottom: 50px;
}

.footer .helpful-links ul li:before{
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: "\f054";
    color: var(--firstColor);
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
}

.footer .contact ul li{
    margin-bottom: 24px;
}

/* End Footer */

/* Start Copyright */

.copyright{
    border-top: 2px solid #ccc;
    padding: 20px;
}

.copyright ul{
    margin: 0;
}

.copyright ul li{
    display: inline-block;
    margin-left: 20px;
    font-size: 20px;
}

.copyright ul li a{
    color: var(--firstColor);
}

/* End Copyright */